.features-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    row-gap: 15px;
}

.features-container .features-title h3{
    color: #fff;
    position: relative;
    padding-top: 10px;
}
.features-container .features-title h3::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 50px;
    height: 3px;
    background: var(--gradient-bar);
}

.features-container .features-prag p{
    color: var( --color-text);
    font-size: 15px;
    line-height: 25px;
    max-width: 730px;
}

@media(max-width:767px){
    .features-container{
        flex-direction: column;
    }
}