.title-container{
    text-align: center;
}

.title-container h1{
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -2px;
}

.title-container button{
    margin-top: 40px;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 15px 25px;
}

@media(max-width:991px){
    .title-container h1{
        font-size: 45px;
        line-height: 60px;
    }
}
